<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

</head>

<body>
<div class="yui-u first">
    <h1 th:text="${firstName} + ' ' + ${lastName}"></h1>
    <img th:src="'http://localhost:4566/' + ${photo}"/>
    <ul th:each="exp : ${experience}">
        <li th:text="${exp.company.name}"></li>
        <li th:text="${exp.start}"></li>
        <li th:text="${exp.end}"></li>
    </ul>
</div>

</body>

</html>